.heading
{
    font-size: 23px;
    margin: 0;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
    line-height: 3;
    text-align: center;
    color: white;
    background-color: gray;
    width:100%;
    position: fixed;
    bottom: 0;
    font-weight: bolder;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}